* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

body {
  background-color: hsl(0deg, 0%, 60%);
}

header {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  margin-bottom: 64px;
}

.max-width-wrapper {
  margin: auto;
  max-width: 580px;
}


.intro-chunk, .card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 24px;
}

.intro-chunk {
  font-size: 1rem;
  text-align: left;
  max-width: 400px;
  padding-top: 40px;
  margin-bottom: 32px;
}

.intro-chunk .title {
  margin-bottom: 48px;
}

.intro-chunk p > strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.intro-chunk > p {
  font-size: 1.25rem;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px;
  margin: 0;
  margin-left: -32px;
  display: inline-block;
}